---
title: La struttura originaria.
layout: layouts/home.njk
description: Blog del gruppo di lettura de "La struttura originaria" di Emanuele Severino.
date: Last Modified
---


<img class="logo" src="./img/severino.jpg"></img>

<p>
  Benvenuto nel blog del gruppo di lettura de "La struttura originaria" di Emanuele Severino.
</p>

<div id="posts">
  <h2>Capitoli</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
