---
title: La struttura originaria.
layout: layouts/home.njk
description: Blog del gruppo di lettura de "La struttura originaria" di Emanuele Severino.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Benvenuto nel blog del gruppo di lettura de "La struttura originaria" di Emanuele Severino.
</p>

<div id="posts">
  <h2>Capitoli</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
